.CardDetail {
    display: flex;
}

.CardDetailText {
    width: 500px;
}

.CardDetailTitle {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5em;
    font-weight: normal;
    justify-content: space-between;
    margin: 0;
}

.CardDetailTitle .ManaSymbol {
}

.CardDetailTypeLine {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
